
@model COLLEGE.Models.ViewModels.DetailsViewModel


<h2>Student Details</h2>

<p><strong>Name:</strong> @Model.StudentName</p>
<p><strong>Address:</strong> @Model.Address</p>
<p><strong>Grade:</strong> @Model.Grade</p>

<h4>Parent Information</h4>
<p><strong>Parent Name:</strong> @Model.ParentName</p>
<p><strong>Phone:</strong> @Model.Phone</p>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
